<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="core.ds.optionsmenu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="core.ds.optionsmenu.Activities.TaskActivity"
            android:label="TaskActivity"
            android:parentActivityName="core.ds.optionsmenu.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="core.ds.optionsmenu.Activities.MainActivity" />
        </activity>
        <activity
            android:name="core.ds.optionsmenu.Activities.ProjectActivity"
            android:label="ProjectActivity"
            android:parentActivityName="core.ds.optionsmenu.Activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="core.ds.optionsmenu.Activities.MainActivity" />
        </activity>
        <activity android:name="core.ds.optionsmenu.Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>